$main: #E4D4A3;

html {
    padding: 35px 0 35px 0;
}

body {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    color: #666;
}

s, strike {
        background-color: yellow;
}

/* custom tag for red text */
r {
        color: red;
}

em {
        font-weight: bold;
}

pre {
  color: #f2f2f2;
  background-color: #393939;
  border: 1px solid #393939;
  font-family: consolas, monaco, monospace;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.625em;
  padding: 1.625em;
  overflow: auto;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
}

#header {
    font-family: 'Noticia Text', serif;
    padding: 25px;
    background: #dfdfdf;
    margin-bottom: 45px;
    color: #333;
    -webkit-box-shadow: 0px 0px 3px 4px #dfdfdf;
    -moz-box-shadow: 0px 0px 3px 4px #dfdfdf;
    box-shadow: 0px 0px 3px 4px #dfdfdf;

    .inner {
        text-align: left;
        width: 865px;
        margin: auto;
    }
    
    ul {
        float: right;
        list-style-type: none;
        
        li {
            margin-top: 5px;
            margin-left: 18px;
            font-size: 20px;
            font-weight: 300;
            
            a {
                color: #333;
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }    
        
    }
    
    h1 {
        font-size: 49px;
        font-weight: bold;
        
        a {
            text-decoration: none;
            color: #333;
        }
    }
    
    h2 {
        font-size: 23px;
        font-weight: 300;
        img {
            margin-left: 3px;
        }
    }
}

#content {
    .inner {
        text-align: left;
        width: 725px;
        margin: auto;
    }
}
    
.post {
    margin-bottom: 55px;
    
    h3 {
        font-size: 29px;
        font-family: 'Noticia Text', serif;
        font-weight: normal;
        margin-bottom: 25px;
    }
    
    h3 a {
        text-decoration: none;
        color: #333;
    }
    h3 a:hover {
        text-decoration: underline;
    }
    
    .body {
        font-size: 17px;
    }
    
    .body p {
        margin-bottom: 1em;
    }
    
    ul {
        margin-bottom: 1em;
    }
    
    ul li {
        margin-bottom: 0.5em;
    }
    
    .meta {
        margin-top: 25px;
        border-top: 3px double #ddd;
        padding-top: 25px;
        color: #999;
    }

    img {
        max-width: 700px;
        -webkit-box-shadow: 1px 1px 1px 2px #222;
        -moz-box-shadow: 1px 1px 1px 2px #222;
        box-shadow: 1px 1px 1px 2px #222;
    }
}

#footer {
    font-family: 'Noticia Text', serif;
    background: $main;
    padding: 25px;
    color: #333;
    
    .inner {
        text-align: left;
        width: 725px;
        margin: auto;
    }
    
    h3 {
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: 300;
        a {
            text-decoration: none;
            color: #333;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    table {
        font-weight: 300;
    }
    
    table tr td {
        padding-bottom: 3px;
        padding-right: 15px;
    }
    
    table tr td a {
        text-decoration: none;
    }
    
    table tr td a:hover {
        text-decoration: underline;
    }
    
    table tr td.date {
        text-align: right;
    }
    
    .archives {
        float: left;
        margin-right: 25px;
    }
    
    .about {
        float: left;
        
        img {
            float: left;
        }
        
        div {
            padding-left: 94px;
            width: 140px;
        }
    }
}

.my_pic {
    float: right;
}

.about_head {
    width: 550px;
    margin-bottom: 45px;
}

.projects_container {
    border-top: #ddd double 3px;
    border-bottom: #ddd double 3px;
    padding: 35px 0 0 0;
}

table.projects {
    td {
        padding-bottom: 35px;
    }
    
    td.img {
        text-align: center;
        vertical-align: middle;
    }
    td.desc {
        padding-left: 45px;
    }
}

.bubble {
    color: #fff;
    font-size: 13px;
    background: #607890;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    position: relative;
    
    .tip {
        background: url(/images/triangle.png) no-repeat 0 0;
        width: 10px;
        height: 11px;
        position: absolute;
        top: 19px;
        left: -10px;
    }
    
    a {
        text-decoration: none;
        color: #fff;
        
        &:hover {
            text-decoration: underline;
        }
    }
}


#disqus_thread {
    margin-top: 45px;
    
    h3 {
        font-size: 19px;
    }
}
