<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--> 
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--> 
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--> 
<head> 
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
 
  <title>{{ site.title }}{% if page.title %} - {{ page.title }} {% endif %}</title> 
  <meta name="author" content="Meng Zhang" />
  <link href='http://fonts.googleapis.com/css?family=Noticia+Text:400,700|Merriweather' rel='stylesheet' type='text/css'>
  <link href="/css/syntax.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/css/reset.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link rel="alternate" type="application/rss+xml" href="/atom.xml" title="RSS feed">
</head> 
 
    <body> 
        <div id="header">
            <div class="inner">
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/atom.xml">Subscribe</a></li>
                </ul>
                <h1><a href="/">Meng Zhang</a></h1>
                <h2>Foolish, hungry man</h2>
            </div>
        </div>
                
        <div id="content">
            <div class="inner">
                {{ content }}
            </div>
        </div>
        
        <div id="footer" class="clearfix">
            <div class="inner">
                <div class="archives">
                    <h3>Archives</h3>
            
                    <table>
                    {% for post in site.posts %}
                        <tr>
                            <td class="date">{{ post.date | date_to_string }}</td>
                            <td><a href="{{ post.url }}">{{ post.title }}</a></td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <div class="about">
                    <h3><a href="/about/">About Me</a></h3>
                    
                    <a href="/about/"><img src="/images/me_small.jpg" alt="ME" /></a>
                    <div>
                        <p>
                        I'm Meng Zhang, and I have a strong wish that amazing products can be created by me thus the world becomes better.
                        </p>
                        <a href="/about/">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-29268579-1']);
            _gaq.push(['_trackPageview']);
            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
        </script>
    </body> 
</html>
