---
layout: default
---
<article class="post">
  <header>
  <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
  </header>
  <section class="body">
    {{ content }}
  </section>
  <section class="meta">
    Posted on <a href="{{ page.url }}">{{ page.date | date_to_string }}</a>
  </section>
  <section class="social">
    <script type="text/javascript">
        (function(){
         var hn_like = document.createElement('iframe');
         hn_like.frameborder="no";
         hn_like.scrolling="no";
         hn_like.height="31px";
         hn_like.width="100px";
         hn_like.src = "http://hnlike.com/upvote.php?link="
         + encodeURIComponent(document.location)
         + "&title="
         + encodeURIComponent("{{ page.title }}");
         hn_like.innerHTML="iframes not supported by your browser";
         var social = document.getElementsByClassName("social")[0];
         social.appendChild(hn_like);
         })();
    </script>
    <script type="text/javascript" src="http://www.reddit.com/static/button/button1.js"></script>
  </section>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'mengzhang'; // required: replace example with your forum shortname

      // The following are highly recommended additional parameters. Remove the slashes in front to use.
      // var disqus_identifier = 'unique_dynamic_id_1234';
      var disqus_url = '{{ site.url }}{{ page.url }}';
      //var disqus_developer = 1; // developer mode is on

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</article>
